<p>utilisateurs works!</p>

<p-calendar [(ngModel)]="birthday"></p-calendar>  


<div class="row">
  <div class="card col-md-10">
    <p-table #dt1 [value]="utilisateurs" dataKey="id" editMode="row"  [scrollable]="true" scrollHeight="500px" [virtualScroll]="true" [virtualScrollItemSize]="46">
      <ng-template pTemplate="caption">
        <div class="flex">
          <!-- <button pButton pRipple label="Add Personne" icon="pi pi-visible" class="p-button-outlined p-button-info" (click)="openPersonnedialog()" ></button> -->
          <!-- <div>
            <p-confirmDialog [transitionOptions]="'200ms'" [style]="{width: '30vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
            <p-toast></p-toast>
          </div> -->
        </div> 
        <!-- <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
        selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}" placeholder="Choose Columns">
        </p-multiSelect> -->
      </ng-template>
        
      
      <ng-template   pTemplate="header"  let-columns> 
        <tr >     
          
          <th style="width:30%" pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
          <th style="width:45%" pSortableColumn="prenom" style="min-width:10rem;">Prenom <p-sortIcon field="nom"></p-sortIcon></th>
          <th style="width:30%" pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th> 
          <th style="width:30%" pSortableColumn="role">Role<p-sortIcon field="role"></p-sortIcon></th>
          <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th> -->
          <!-- <th *ngFor="let col of columns" pSortableColumn={{col.header}}>
            <p-sortIcon field={{col.header}}></p-sortIcon>
            {{col.header}}
          </th> -->
        </tr>  
        <tr>
          <!-- <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'departement.designation', 'contains')" [value]="$any(dt1.filters['departement.designation'])?.value"  placeholder="Filtrer par Departement" class="p-column-filter">
         </th> -->
          <!-- <th *ngFor="let col of columns">
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, '{{col.header}}', 'contains')" [value]="$any(dt1.filters['{{col.header}}'])?.value"  placeholder="Filtrer par {{col.header}}" class="p-column-filter">
          </th> -->
          <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'nom', 'contains')" [value]="$any(dt1.filters['nom'])?.value"  placeholder="Filtrer par Nom" class="p-column-filter">
          </th>
          <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'prenom', 'contains')" [value]="$any(dt1.filters['prenom'])?.value"  placeholder="Filtrer par Prenom" class="p-column-filter">
          </th>  
          <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'email', 'contains')" [value]="$any(dt1.filters['email'])?.value"  placeholder="Filtrer par email" class="p-column-filter">
          </th>  
          <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'role', 'contains')" [value]="$any(dt1.filters['role'])?.value"  placeholder="Filtrer par Role" class="p-column-filter">
         </th> 
        </tr>
      </ng-template>

      <!-- <ng-template pTemplate="body" let-pers let-editing="editing" let-ri="rowIndex" let-columns="columns">
        <tr [pEditableRow]="pers">
            
            <td>{{pers.departement.designation}}</td>
            <td *ngFor="let col of columns"> 
              {{pers[col.field]}}
            </td>
            <td>
              <div [ngClass]="{'outofstock': pers.status === 18, 'lowstock': (pers.age<18),'instock': pers.age > 18}">
                {{pers.age}}
              </div>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-dropdown [options]="departements" appendTo="body" [(ngModel)]="pers.departement"  optionLabel="designation"  [style]="{'width':'100%'}"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output" >
                    {{pers.departements}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="pers.age">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{pers.age | currency: 'Ans'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="pers.nom">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{pers.nom}}
                  </ng-template>
              </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(pers)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(pers)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(pers, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
            <td  >
              <button pButton pRipple icon="pi pi-pencil" (click)="updatePersonne = true " (click)="UpdatePersonne(pers)"  class="p-button-rounded p-button-success" ></button>   
            </td>
            <td>
              <p-button (click)="onDeleteConfirmation('top',pers)" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger mr-2"></p-button>
             
            </td>
        </tr>
    </ng-template> -->

      
     <ng-template pTemplate="body" let-ut  let-columns="columns">
        <tr>

          
          <!-- <td *ngFor="let col of columns"> 
            {{pers[col.field]}}
          </td>
          <td>
            <div [ngClass]="{'outofstock': pers.status === 18, 'lowstock': (pers.age<18),'instock': pers.age > 18}">
              {{pers.age}}
            </div>
          </td> -->
          
          <td ><div class="box" [innerHTML]="ut.nom"></div></td>    
          <td ><div class="box" [innerHTML]="ut.prenom"> </div></td>
          <td ><div class="box" [innerHTML]="ut.email"> </div></td>
          <td ><div class="box" [innerHTML]="ut.role"> </div></td>
          <td ></td>
          <!-- <td  >
            <button pButton pRipple icon="pi pi-pencil" (click)="updatePersonne = true " (click)="UpdatePersonne(pers)"  class="p-button-rounded p-button-success" ></button>   
          </td>
          <td >
            <p-button (click)="onDeleteConfirmation('top',pers)" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger mr-2"></p-button>
            <button type="button"    pButton  (click)="deletePersonne=true"  (click)="onDeletePersonne(pers)" class="p-button-rounded p-button-warning" ></button> 
          </td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<!-- <div class="row">
    <div class="card col-md-10">
      <p-table [value]="utilisateurs" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton pRipple label="Voir page" icon="pi pi-visible" class="p-button-outlined p-button-warning" routerLink="/presentations" ></button>
             
          </div>
        </ng-template>
        <ng-template   pTemplate="header">
          <tr >     
            <th style="width:30%" pSortableColumn="nom">Nom </th>
            <th style="width:30%" pSortableColumn="prenom">Prenom </th>
            <th style="width:30%" pSortableColumn="email">Email </th>
            
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ut >
          <tr>
            <td ><div class="box" [innerHTML]="ut.nom"></div></td>    
            <td ><div class="box" [innerHTML]="ut.prenom"> </div></td>
            <td ><div class="box" [innerHTML]="ut.email"> </div></td>
            <td ></td>
            <td  >
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" ></button>   
            </td>
            <td >
              <button type="button"    pButton icon="pi pi-external-link" label="View"></button>
            </td>
          </tr>
          
        </ng-template>
      </p-table>
    </div>
  </div>
   -->
