.bootstrap-wrapper{
    margin-top: 5em;
  }

#pass{
    width: 100vw !important;
    height: 3rem !important;
}

  .classCenter{
    justify-content: flex-start;
  }

  mat-card{
    background-color: #ac7c4f;
    border-radius: 2em;
  }
  .login {
    .p-inputgroup-addon {
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }



    

  


  h1{
    color: white;
  }
  
  form,.retour{
    text-align: center;
    color: white;
  }
  
  #link{
    margin-top: 1em;
  }